.table-wrapper {
  overflow: auto;

  table {
    border-collapse: collapse;
    border-radius: 10px;
    border: 2px solid #03045e;
    border-top: none;
    overflow: auto;
    width: 90%;
    margin-inline: auto;

    thead {
      color: #03045e;
      background: #f8f9fa;
    }

    th {
      border: 2px solid #03045e;
      padding: 1rem;
      text-align: center;
    }

    tr {
      &:nth-child(even) {
        // background-color: #03045e-100;
      }
    }

    td {
      border: 2px solid #03045e;
      padding: 1rem;
      text-align: center;
      &:first {
        border-right: none;
      }
    }
  }
}
